@import './main.scss';
// $ABOUT_BG_COLOR: linear-gradient(#F6F6F6, #DBDEE0);
$ABOUT_BG_COLOR_1: linear-gradient(#F6F6F6, #e1e1e1);
$ABOUT_BG_COLOR_2: linear-gradient(#e1e1e1, #e4e4e4);
$ABOUT_BG_COLOR_3: linear-gradient(#e4e4e4, #e0dbdb);
$ABOUT_BG_COLOR_4: linear-gradient(#e0dbdb, #e2e5e7);
$ABOUT_BG_COLOR_5: linear-gradient(#e2e5e7, #DBDEE0);
$COLOR_KV_TEXT: #282D2F;
$COLOR_PARAGRAPH_TEXT: #282D2F;
$COLOR_CIRCLE_TEXT: #858A8B66;
$COLOR_CIRCLE_BORDER: #858A8B66;
$COLOR_NAME: #282D2F;
$COLOR_DESCRIPTION: #282D2F;
$COLOR_EXPERIENCE_TEXT: #858A8B;
$COLOR_SPECIAL_CONTENT_TITLE: #282D2F;
$COLOR_VIEW_WORKS_BUTTON: #282D2F;


#about{
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .about_kv_container{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: flex-end;
    background: $ABOUT_BG_COLOR_1;

    .about_kv_contents{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 88%;
      height: 100%;
      font-family: 'Outfit', sans-serif;
      font-weight: 300;
      font-size: 3.6rem;
      color: $COLOR_KV_TEXT;

      .about_kv_contents_prop_container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        height: 100%;

        .about_kv_contents_prop{
          opacity: 1;
          // margin-left: 11rem;
          animation: fadein 1.6s ease-in-out;
        }
      }

      
    }
  }

  .about_paragragh_container{
    width: 100vw;
    height: 40vh;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
    background: $ABOUT_BG_COLOR_2;
    padding-top: 25vh;

    .about_paragraph_contents{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 88%;
      height: 100%;
      font-family: 'BIZ UDGothic', sans-serif;
      font-weight: 400;
      font-size: 1.2rem;
      color: $COLOR_PARAGRAPH_TEXT;
      line-height: 2.8rem;

      .about_paragragh_contents_sec_container{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 100%;

        .about_paragragh_contents_sec{
          // margin-left: 11rem;
          display: flex;
          flex-direction: column;
          margin-top: .75rem;
          margin-bottom: .75rem;
        }
      }

      
    }
  }

  // v
  .about_self_intro_container{
    // display: none !important;
    width: 100vw;
    height: 160vh;
    display: flex;
    justify-content: flex-end;
    background: $ABOUT_BG_COLOR_3;
    
    .about_self_intro_contents{
      width: 94%;
      height: 100%;
      // padding-left: 15rem;
      // padding-top: 4rem;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;


      .about_self_intro_contents_container{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
        // align-items: center;
        .about_self_intro_img{
          width: 21.2rem;
          height: 32rem;
          object-fit: cover;
          z-index: 10;
          box-shadow:-10px 10px 50px -25px gray;
        }
        .about_self_intro_right_section_container{
          display: flex;
          flex-direction: column;
          padding-top: 3rem;
  
          .about_self_intro_circle_container{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin-left: -1rem;
            margin-bottom: 1.5rem;
  
            .about_self_intro_circle_prop{
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: .7rem;
              color: $COLOR_CIRCLE_TEXT;
              width: 18rem;
              height: 18rem;
              border: 1px $COLOR_CIRCLE_BORDER solid;
              border-radius: 1000px;
              background-color: transparent;
  
              // for rotation animation
              opacity: 0;
              transform: rotate(-45deg);
              margin-left: -5rem;
  
              &:nth-child(2){
                margin-left: -6rem;
              }
  
            }
          }
    
          .about_self_intro_paragraph_container{
            display: flex;
            flex-direction: column;
            margin-left: 2.75rem;
    
            .about_self_intro_paragraph_name{
              // opacity: 0;
              width: 25.3rem;
              font-size: .85rem;
              font-weight: 500;
              color: $COLOR_NAME;
              margin: 1rem 0;
            }
            .about_self_intro_paragraph_description_container{
              width: 25.3rem;
              display: flex;
              flex-direction: column;
              font-size: .75rem;
              font-weight: 400;
              color: $COLOR_DESCRIPTION;
              line-height: 1.7rem;
              .about_self_intro_paragraph_description_prop{
                // opacity: 0;
              }
            }
          }
  
          .about_underline_div{
            border: 1px $COLOR_CIRCLE_BORDER solid;
            width: 1.2rem;
            margin: 2rem 2.75rem;
          }
          
          .about_experience_container{
            display: flex;
            flex-direction: column;
  
            .about_experience_contents{
              display: flex;
              flex-direction: row;
              margin: .6rem 0;
              br {
                content: "";
                margin: 2em;
                display: block;
                font-size: 24%;
              }
  
              .about_experience_contents_prop{
                font-size: .75rem;
                color: $COLOR_EXPERIENCE_TEXT;
                line-height: 1.4rem;
                margin-left: 2.75rem;
                opacity: 1;
                transition: all 1s ease-in-out;
              }
            }
          }
        }
      }
    }
    
  }

  // v
  .about_special_contents_container{
    display: flex !important;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100vw;
    height: 50vh;
    background: $ABOUT_BG_COLOR_4;
    
    .about_special_contents_prop_container{
      width: 94%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .about_special_contents_title{
        display: flex;
        justify-content: flex-start;
        font-family: 'Outfit', sans-serif;
        font-weight: 400;
        width: 52rem;
        color: $COLOR_SPECIAL_CONTENT_TITLE;
        font-size: 1rem;
        margin-bottom: .75rem;
      }
      .about_special_contents_white_box_sec_container{
        width: 52rem;
        height: 15rem;
        background-color: white;
        box-shadow:-10px 10px 50px -20px rgb(176, 176, 176);
      }
    }
  }

  // v
  .about_view_my_works_button_container{
    // display: none !important;
    width: 100vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end !important;
    background: $ABOUT_BG_COLOR_5;
    justify-content: center;
    align-items: center;

    .about_view_my_works_button_prop_container{
      width: 94%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      .about_view_my_works_button_link{
        width: 22%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        border-radius: 100px;
  
        .about_view_my_works_contents{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 13rem;
          height: 13rem;
          background-color: white;
          border-radius: 500px;
          .about_view_my_works_hover_section{
            position: absolute;
            width: 13rem;
            height: 13rem;
            background-color: transparent;
            
          }
    
          .about_view_my_works_contents_prop{
            color: black;
            width: 8.5rem;
            z-index: 1;
            &:nth-child(1){
              font-size: .75rem;
            }
            &:nth-child(2){
              font-size: 1.25rem;
            }
          }
          .about_view_my_works_contents_prop_white{
            position: absolute;
            color: white;
          }
        }
    
        .about_view_my_works_button_hover_bg{
          position: absolute;
          background-color: $COLOR_VIEW_WORKS_BUTTON;
          width: 0rem;
          height: 0rem;
          border-radius: 500px;
        }
      }
    }
  }
}