@import './main.scss';
$ABOUT_BG_COLOR_1:#F6F6F6;
$ABOUT_BG_COLOR_2:#DBDEE0;
$ABOUT_BG_COLOR: linear-gradient(135deg, $ABOUT_BG_COLOR_1, $ABOUT_BG_COLOR_2);
$COLOR_KV_TEXT: #282D2F;
$COLOR_PARAGRAPH_TEXT: #282D2F;
$COLOR_CIRCLE_TEXT: #858A8B66;
$COLOR_CIRCLE_BORDER: #858A8B66;
$COLOR_NAME: #282D2F;
$COLOR_DESCRIPTION: #282D2F;
$COLOR_EXPERIENCE_TEXT: #858A8B;
$COLOR_SPECIAL_CONTENT_TITLE: #282D2F;
$COLOR_VIEW_WORKS_BUTTON: #282D2F;


#about{
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 90;
  background: $ABOUT_BG_COLOR;

  .about_kv_container{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: flex-end;
    @include sm(){
      height: 92vh;
    }

    .about_kv_contents{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 88%;
      height: 100%;
      font-family: $FONT_EN;
      font-weight: 300;
      font-size: 3.6rem;
      color: $COLOR_KV_TEXT;
      @include sm(){
        width: 100%;
        padding: 0 2.7rem;
        font-size: 3.6rem;
      }
      @include md(){
        font-size: 3.6rem;
      }
      @include lg(){
        font-size: 5.0rem;
      }

      .about_kv_contents_prop_container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        height: 100%;

        .about_kv_contents_prop{
          opacity: 1;
          // margin-left: 11rem;
          animation: fadein 1.6s ease-in-out;
        }
      }

      
    }
  }

  .about_paragragh_container{
    width: 100vw;
    height: 30vh;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 25vh;
    position: relative;
    @include sm(){
      position: relative;
      justify-content: flex-start;
      align-items: center;
      height: 140vh;
      padding-top: 0vh;
    }
    @include md(){
      height: 15vh;
    }
    @include lg(){
      height: 30vh;
    }

    .about_paragraph_contents{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 88%;
      height: 100%;
      font-family: $FONT_JP;
      font-weight: 400;
      font-size: 1.2rem;
      color: $COLOR_PARAGRAPH_TEXT;
      line-height: 2.8rem;
      @include sm(){
        width: 80%;
        // margin-top: 50vh;
        // padding: 1rem 1rem;
      }

      .about_paragragh_contents_sec_container{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 100%;

        .about_paragragh_contents_sec{
          // margin-left: 11rem;
          display: flex;
          flex-direction: column;
          margin-bottom: .75rem;
          text-align: justify;
        }
      }

      
    }
  }

  // v
  .about_self_intro_container{
    // display: none !important;
    width: 100vw;
    margin-bottom: 3rem;
    // height: 160vh;
    display: flex;
    justify-content: flex-end;
    position: relative;
    @include sm(){
      // height: 180vh;
      justify-content: flex-start;
      align-items: flex-start;
    }
    
    .about_self_intro_contents{
      width: 94%;
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      @include sm(){
        width: 100%;
      }


      .about_self_intro_contents_container{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
        align-items: flex-start;
        @include sm(){
          position: relative;
          display: flex;
          flex-direction: column;
        }
        @include md(){
        }
        .about_self_intro_img{
          // width: 50%;
          width: 21.2rem;
          height: 32rem;
          object-fit: cover;
          z-index: 10;
          box-shadow:-10px 10px 50px -25px gray;
          @include sm(){
            margin-left: 3rem;
            width: 18rem;
            height: 27.29rem;
          }
        }
        .about_self_intro_right_section_container{
          // width: 50%;
          display: flex;
          flex-direction: column;
          padding-top: 3rem;
          @include sm(){
            padding-top: 0;
            margin-top: -8vh;
            overflow-x: hidden;
            width: 100%;
          }
  
          .about_self_intro_circle_container{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin-left: -1rem;
            margin-bottom: 1.5rem;
            @include sm(){
              position: relative;
              left: 15%;
              // overflow-x: hidden !important;
            }
            .about_self_intro_circle_contents_container{
              display: flex;
              flex-direction: row;
              width: 110%;
              .about_self_intro_circle_prop{
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: .7rem;
                color: $COLOR_CIRCLE_TEXT;
                width: 18rem;
                height: 18rem;
                border: 1px $COLOR_CIRCLE_BORDER solid;
                border-radius: 1000px;
                background-color: transparent;
    
                // for rotation animation
                opacity: 0;
                transform: rotate(-45deg);
                margin-left: -5rem;
    
                &:nth-child(1){
                  @include sm(){
                    margin-left: 6rem;
                  }
                }
                &:nth-child(2){
                  margin-left: -6rem;
                  @include sm(){
                    margin-left: -3rem;
                  }
                }
              }
            }
  
            
          }
    
          .about_self_intro_paragraph_container{
            width: 100%;
            display: flex;
            flex-direction: column;
            margin: 0 2.75rem;

            @include sm(){
              margin-left: 0;
              width: 100%;
              justify-content: center;
              align-items: center;
            }
    
            .about_self_intro_paragraph_name{
              // opacity: 0;
              width: 25.3rem;
              font-size: 1.1rem;
              font-weight: 500;
              color: $COLOR_NAME;
              margin: 1rem 0;
              @include sm(){
                width: 85%;
              }
            }
            .about_self_intro_paragraph_description_container{
              width: 25.3rem;
              display: flex;
              flex-direction: column;
              font-size: .85rem;
              font-weight: 400;
              color: $COLOR_DESCRIPTION;
              line-height: 2rem;
              @include sm(){
                width: 85%;
                text-align: justify;
              }
              .about_self_intro_paragraph_description_prop{
                font-size: 1rem;
                // opacity: 0;
                @include sm(){
                  font-size: 1rem !important;
                  line-height: 2rem;
                }
                @include md(){
                  font-size: 1rem;
                }
                @include lg(){
                  font-size: 1rem;
                }
              }
            }
          }
  
          .about_underline_div{
            border: 1px $COLOR_CIRCLE_BORDER solid;
            width: 1.2rem;
            margin: 2rem 2.75rem;
          }
          
          .about_experience_container{
            display: flex;
            flex-direction: column;
  
            .about_experience_contents{
              display: flex;
              flex-direction: row;
              margin: .6rem 0;
              br {
                content: "";
                margin: 2em;
                display: block;
                font-size: 24%;
              }
  
              .about_experience_contents_prop{
                font-size: .85rem;
                color: $COLOR_EXPERIENCE_TEXT;
                line-height: 1.8rem;
                margin-left: 2.75rem;
                opacity: 1;
                transition: all 1s ease-in-out;
                @include sm(){
                  font-size: 1rem;
                  line-height: 2rem;
                }
              }
            }
          }
        }
      }
    }
    
  }

  // v
  .about_special_contents_container{
    display: flex !important;
    // display: none !important;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100vw;
    // height: 50vh;
    @include sm(){
      height: 80vh;
      position: relative;
      margin-top: 7rem;
    }
    
    .about_special_contents_prop_container{
      width: 94%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 5vh;
      @include sm(){
        width: 100%;
      }
      .about_special_contents_title{
        display: flex;
        justify-content: center;
        font-family: $FONT_EN;
        font-weight: 400;
        width: 60%;
        color: $COLOR_SPECIAL_CONTENT_TITLE;
        font-size: 1rem;
        margin-bottom: .75rem;
        margin-top: 1rem;
        @include sm(){
          width: 85%;
        }
      }
      .about_special_contents_img_container{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        @include sm(){
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin-top: 3rem;
        }
        @include md(){
          flex-direction: row;
          justify-content: center;
          align-items: center;  
        }
        @include lg(){
          flex-direction: row;
          justify-content: center;
          align-items: center;
        }

        .about_special_contents_img_prop{
          object-fit: cover;
          width: 14rem;
          height: 10rem;
          box-shadow:-10px 10px 50px -25px gray;
        }
        .about_special_contents_img_middle_container{
          position: relative;
          z-index: 1;
          @include sm(){
            transform: rotate(-6deg);
            margin-bottom: 3rem;
          }
          @include md(){

          }
          @include lg(){

          }
        }
        .about_special_contents_img_upper_container{
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          position: absolute;
          z-index: 3;
          margin-top: 5rem;
          @include sm(){
            flex-direction: column-reverse;
            position: relative;
          }
          @include md(){
            flex-direction: row;
            justify-content: center;
            align-items: center;
            position: absolute;
            z-index: 3;
            margin-top: 5rem;
          }
          @include lg(){
            flex-direction: row;
            justify-content: center;
            align-items: center;
            position: absolute;
            z-index: 3;
            margin-top: 5rem;
          }
          .about_special_contents_upper_img_contents_container_prop{
            &:nth-child(1){
              transform: rotate(-6deg);
              @include sm(){
              }
              @include md(){
                margin-right: 6rem;
              }
              @include lg(){
                margin-right: 6rem;
              }
            }
            &:nth-child(2){
              transform: rotate(6deg);
              @include sm(){
                margin-bottom: 5rem;
              }
              @include md(){
              margin-left: 6rem;
              }
              @include lg(){
              margin-left: 6rem;
              }
            }
            .about_special_contents_upper_img_prop{
              @extend .about_special_contents_img_prop;
            }
          }
          
        }
      }
      
    }
  }

  // learn my by hashtags
  .about_learn_me_by_hashtags_button_container{
    // display: none !important;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end !important;
    @include sm(){
      height: 30vh;
    }
    @include md(){
      height: 15vh;
    }
    @include lg(){
      height: 15vh;
    }

    .about_learn_me_by_hashtags_button_prop_container{
      width: 94%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      @include sm(){
        width: 100%;
        height: 50%;
      }
      @include md(){

      }
      @include lg(){
        
      }

      .about_learn_me_by_hashtags_button_link{
        width: 13rem;
        height: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        border-radius: 100px;
  
        .about_learn_me_by_hashtags_contents{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 13rem;
          height: 3rem;
          background-color: white;
          border-radius: 500px;
          .about_learn_me_by_hashtags_hover_section{
            position: absolute;
            width: 13rem;
            height: 13rem;
            background-color: transparent;
            
          }
    
          .about_learn_me_by_hashtags_contents_prop{
            color: black;
            width: 10rem;
            display: flex;
            justify-content: flex-start;
            margin-left: 2rem;
            text-align: left;
            z-index: 1;
            @include sm(){
              margin-left: 1.3rem;
            }
            &:nth-child(1){
              font-size: .75rem;
            }
          }
          .about_learn_me_by_hashtags_contents_prop_white{
            position: absolute;
            color: white;
          }
        }
    
        .about_learn_me_by_hashtags_button_hover_bg{
          position: absolute;
          background-color: $COLOR_VIEW_WORKS_BUTTON;
          width: 0rem;
          height: 0rem;
          border-radius: 500px;
        }
      }
    }
  }

  // v
  .about_view_my_works_button_container{
    // display: none !important;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end !important;
    justify-content: center;
    align-items: center;
    @include sm(){
      height: 50vh;
    }
    @include md(){
      height: 35vh;
    }
    @include lg(){
      height: 70vh;
    }

    .about_view_my_works_button_prop_container{
      width: 94%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      @include sm(){
        width: 100%;
        height: 50%;
      }

      .about_view_my_works_button_link{
        width: 13rem;
        height: 13rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        border-radius: 100px;
  
        .about_view_my_works_contents{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 13rem;
          height: 13rem;
          background-color: white;
          border-radius: 500px;
          .about_view_my_works_hover_section{
            position: absolute;
            width: 13rem;
            height: 13rem;
            background-color: transparent;
            
          }
    
          .about_view_my_works_contents_prop{
            color: black;
            width: 10rem;
            display: flex;
            justify-content: flex-start;
            margin-left: 2rem;
            text-align: left;
            z-index: 1;
            @include sm(){
              margin-left: 1.3rem;
            }
            &:nth-child(1){
              font-size: .75rem;
            }
            &:nth-child(2){
              font-size: 1.25rem;
            }
          }
          .about_view_my_works_contents_prop_white{
            position: absolute;
            color: white;
          }
        }
    
        .about_view_my_works_button_hover_bg{
          position: absolute;
          background-color: $COLOR_VIEW_WORKS_BUTTON;
          width: 0rem;
          height: 0rem;
          border-radius: 500px;
        }
      }
    }
  }
}