@import './main.scss';
$ABOUT_BG_COLOR: #F5F5F5;
$COLOR_KV_TEXT: #282D2F;
$COLOR_PARAGRAPH_TEXT: #282D2F;

#about{
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;


  .about_kv_container{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: flex-end;

    .about_kv_contents{
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 94%;
      height: 100%;
      background-color: $ABOUT_BG_COLOR;
      font-family: 'Outfit', sans-serif;
      font-weight: 300;
      font-size: 3.6rem;
      color: $COLOR_KV_TEXT;

      .about_kv_contents_prop{
        margin-left: 5rem;
        animation: fadein 1.6s ease-in-out;
      }
    }
  }

  .about_paragragh_container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .about_paragraph_contents{
      display: flex;
      flex-direction: column;
      width: 94%;
      height: 100%;
      background-color: $ABOUT_BG_COLOR;
      font-family: 'BIZ UDGothic', sans-serif;
      font-weight: 400;
      font-size: 1.2rem;
      color: $COLOR_PARAGRAPH_TEXT;
      line-height: 2.8rem;

      .about_paragragh_contents_sec{
        margin-left: 5rem;
        display: flex;
        flex-direction: column;
        margin-top: .75rem;
        margin-bottom: .75rem;
      }
    }
  }
}