@import './main.scss';

.back_btn_container{
  width: 85%;
  .back_btn_contents_container{
    // width: 90%;
    width: 6rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 100px;
    padding: .7rem 1rem;
    box-shadow:-3px 4px 100px -11px grey;
    color: $COLOR_BLACK;
    transition: all .3s ease-in-out;
    &:hover{
      background-color: $COLOR_BLACK;
      color: white;
      transition: all .3s ease-in-out;
    }
    @include sm(){
      box-shadow: -3px 4px 37px -10px grey;
      width: 1rem !important;
      height: 1.5rem !important;
    }
  
    .arrow_prop{
      margin: 0 .3rem;
    }
    .btn_prop{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      font-family: $FONT_EN;
      font-weight: 400;
      font-size: .75rem;
      .btn_arrow_prop{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
      }
    }
  }
}
