@import './main.scss';
// $FOOTER_BG: url("../static/img/footer_bg.svg");
$FOOTER_BG: url("../static/img/footer_bg-min.png");
$COLOR_UNDERLINE: #858A8B;
$COLOR_BOTTOM_TEXT: #858A8B;

a{
  text-decoration: none;
}
@mixin hover_footer{
  &:hover{
    color: $COLOR_FOOTER_HOVER;
    transition: all .3s ease-in-out;
  }
}

#footer{
  display: flex;
  position: relative;
  // display: none !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-image: $FOOTER_BG;
  background-size: cover;
  z-index: 101 !important;
  margin-top: -35vh;
  @include sm(){
    overflow-x: hidden;
    margin-top: 0;
  }
  @include md(){
    overflow-x: hidden;
    margin-top: 0;
  }
  @include lg(){
    overflow-x: unset;
    margin-top: -35vh;
  }

  .upper_section_container{
    padding-top: 7.85rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 65%;
    @include sm(){
      flex-direction: column;
      width: 100%;
      padding-left: 20vw;
      justify-content: flex-start;
      overflow-x: hidden;
    }
    @include md(){
      flex-direction: column;
      width: 100%;
      padding-left: 20vw;
      justify-content: flex-start;
      overflow-x: hidden;
    }
    @include lg(){
      flex-direction: row;
      width: 65%;
      padding-left: unset;
      justify-content: space-between;
      overflow-x: unset;
    }

    .upper_left_container{
      display: flex;
      flex-direction: column;
      justify-content: flex-start !important;
      align-items: flex-start !important;
      width: 70%;
      

      .upper_left_contents_prop{
        font-size: 4rem;
        font-family: $FONT_EN;
        font-weight: 300;
        color: white;
        // line-height: 3rem;
        // margin-bottom: 1.8rem;
        @include sm(){
          font-size: 2.5rem;
        }
        @include md(){
          font-size: 2.5rem;
        }
        @include lg(){
          font-size: 4rem;
        }
      }
    }
    .upper_right_container{
      display: flex;
      flex-direction: column;
      margin-top: 2rem;
      width: 30%;
      overflow-x: hidden;
      @include sm(){
        width: 100%;
        overflow-y: hidden;
      }
      @include md(){
        width: 100%;
        overflow-y: hidden;
      }
      @include lg(){
        width: 30%;
        overflow-y: unset;
        overflow-x: hidden;
      }

      .upper_right_contents_prop_about{
        font-size: 1.2rem;
        color: white;
        font-size: 1.1rem;
        margin-bottom: .6rem;
        transition: all .3s ease-in-out;
        @include hover_footer;
        @include sm(){
          font-size: 1.3rem;
        }
        @include md(){
          font-size: 1.3rem;
        }
        @include md(){
          font-size: 1.1rem;
        }
      }
      .upper_right_contents_prop_hashtag{
        color: white;
        font-size: .7rem;
        margin-bottom: 1.5rem;
        transition: all .3s ease-in-out;
        @include hover_footer;
        @include sm(){
          font-size: 1rem;
          margin-bottom: 4.5rem;
        }
        @include md(){
          font-size: 1rem;
          margin-bottom: 4.5rem;
        }
        @include md(){
          font-size: .7rem;
          margin-bottom: 1.5rem;
        }
      }
      .upper_right_contents_prop_works{
        color: white;
        font-size: 1.1rem;
        margin-bottom: 6rem;
        transition: all .3s ease-in-out;
        @include hover_footer;
        @include sm(){
          font-size: 1.3rem;
        }
        @include md(){
          font-size: 1.3rem;
        }
        @include md(){
          font-size: 1.1rem;
        }
      }
      .upper_right_contents_prop_back_to_top{
        color: white;
        text-decoration: underline;
        font-size: .7rem;
        transition: all .3s ease-in-out;
        @include hover_footer;
        // &:hover{
        //   cursor: pointer;
        // }
        @include sm(){
          position: absolute;
          bottom: 3vh;
          right: 10vw;
        }
        @include md(){
          position: absolute;
          bottom: 3vh;
          right: 10vw;
        }
        @include lg(){
          position: unset;
          bottom: unset;
          right: unset;
        }
      }
    }
  }

  .underline_prop{
    margin: 3rem 0;
    border-bottom: 1px $COLOR_UNDERLINE solid;
    width: 65%;
    @include sm(){
      width: 80%;
    }
    @include md(){
      width: 80%;
    }
    @include md(){
      width: 80%;
    }
    @include lg(){
      width: 65%;
    }
  }

  .bottom_section_container{
    width: 65%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    @include sm(){
      width: 80%;
      flex-direction: column-reverse;
    }
    @include md(){
      width: 80%;
      flex-direction: column-reverse;
    }
    @include md(){
      width: 65%;
      flex-direction: row;
    }

    .copyright_prop{
      font-size: 0.7rem;
      font-weight: 400;
      color: $COLOR_BOTTOM_TEXT;
      font-family: $FONT_EN;
      width: 70%;
      @include sm(){
        position: absolute;
        width: 40%;
        bottom: 3vh;
        left: 10vw;
      }
      @include md(){
        position: absolute;
        width: 40%;
        bottom: 3vh;
        left: 10vw;
      }
      @include lg(){
        position: unset;
        width: 70%;
        bottom: unset;
        left: unset;
      }
    }
    .bottom_right_container{
      width: 30%;
      @include sm(){
        width: 100%;
        margin-bottom: 10vh;
      }
      @include md(){
        width: 100%;
        margin-bottom: 10vh;
      }
      @include lg(){
        width: 30%;
        margin-bottom: unset;
      }

      .author_container{
        margin: 1rem 0;

        .responsibility_prop{
          font-size: 0.8rem;
          font-family: $FONT_EN;
          font-weight: 400;
          color: $COLOR_BOTTOM_TEXT;
        }
        .author_contents{
          display: flex;
          justify-content: flex-start;
          align-items: center;

          .author_emoji{
            margin-right: .3rem;
            font-family: "Apple Color Emoji","Segoe UI Emoji";
          }
          .author_name{
            font-size: 0.8rem;
            font-family: $FONT_EN;
            font-weight: 400;
            color: $COLOR_BOTTOM_TEXT;
          }
          .author_img{
            margin-left: .5rem;

          }
        }
      }
    }

  }
}