@import url('https://fonts.googleapis.com/css2?family=BIZ+UDGothic:wght@100;400;700&family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
$COLOR_BLACK: #282D2F;

html{
  font-size: calc(12px + 0.37vw);
  overflow: auto;
  &::-webkit-scrollbar {
    display: none;
  }
}

$threshold-width: 768px;
@mixin sm(){
  @media all and (max-width: $threshold-width){
    @content;
  }
}

@mixin lg(){
  @media all and (min-width: $threshold-width){
    @content;
  }
}


html, body{
  // font-family: 'Outfit', sans-serif;
  // font-family: 'BIZ UDGothic', sans-serif;
  @include sm(){
    width: 100%;
    overflow-x: hidden;
  }
}

@keyframes fadein{
  0% { opacity:0; }
  30% { opacity:0;}
  100% { opacity:1;}
}


