@import url('https://fonts.googleapis.com/css2?family=BIZ+UDGothic:wght@100;400;700&family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
$COLOR_BLACK: #282D2F;
$COLOR_GRAY: #858A8B;
$FONT_EN: 'Outfit', sans-serif;
$FONT_JP: 'BIZ UDGothic', sans-serif;
$COLOR_FOOTER_HOVER: #858A8B;
$FONT_40: 1.6rem;
$FONT_30: 1.4rem;
$FONT_24: 1.3rem;
$FONT_20: 1.2rem;
$FONT_18: 1.1rem;
$FONT_16: 1rem;
$FONT_15: .9rem;
$FONT_14: .8rem;
$FONT_13: .7rem;
$LINE_HEIGHT_28: 1.7rem;

html{
  font-size: calc(12px + 0.37vw);
  overflow: auto;
  &::-webkit-scrollbar {
    display: none;
  }
}

@mixin sm(){
  @media all and (max-width: 768px){
    @content;
  }
}

@mixin md {
  @media all and (min-width: 768px){
    @content;
  }
}

@mixin lg(){
  @media all and (min-width: 992px){
    @content;
  }
}

@mixin sm_content_font{
  font-size: 1rem;
  line-height: 2rem;
}
@mixin md_content_font{
  font-size: 1rem;
  line-height: 1.8rem;
}
@mixin lg_content_font{
  font-size: $FONT_15;
  line-height: $LINE_HEIGHT_28;
}

html, body{
  // font-family: 'Outfit', sans-serif; //$FONT_EN
  // font-family: 'BIZ UDGothic', sans-serif; //$FONT_JP
  @include sm(){
    width: 100%;
    overflow-x: hidden;
  }
  
}

@keyframes fadein{
  0% { opacity:0; }
  30% { opacity:0;}
  100% { opacity:1;}
}


