@import './main.scss';
$COLOR_BG: #282D2F;


nav{
  position: fixed;
  top: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 14rem;
  height: 3.2rem;
  background-color: white;
  border-radius: 100px;
  animation: fadein 1.0s ease-in-out;
  font-family: 'Outfit', sans-serif;
  z-index: 15;
}

.nav_prop{
  text-decoration: none;
  width: 6.5rem;
  height: 2.6rem;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadein 1.6s ease-in-out;

  background-color: $COLOR_BG;
  color: white;
  border-radius: 100px;

  // color: white;
  // content: "";
  // position: absolute;
  // top: 0.3125rem;
  // left: 0.5rem;
  // width: 5rem;
  // height: 1.875rem;
  // background-color: #121212;
  // border-radius: 6.25rem;
}

