@import './main.scss';
$COLOR_BG: #282D2F;

@keyframes nav_anim_to_works {
  0%{
    width: 6.5rem;
    margin-left: .5rem;
  }
  30%{
    width: 8rem;
    margin-left: 3rem;
  }
  100%{
    width: 6.5rem;
    margin-left: 7rem;
  }
}


nav{
  position: fixed;
  top: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 14rem;
  height: 3.2rem;
  background-color: white;
  border-radius: 100px;
  font-family: $FONT_EN;
  z-index: 101;
  margin-left: 6vw;
  @include sm(){
    margin-left: 0;
  }
}

.nav_prop{
  text-decoration: none;
  width: 6.5rem;
  height: 2.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.nav_bar_container{
  width: 14rem;
  position: absolute;

  .nav_bar_bg{
    margin-left: 3.5rem;
    width: 8.5rem;
    height: 2.6rem;
    background-color: $COLOR_BG;
    color: white;
    border-radius: 100px;
  }
}
