@import './main.scss';
$SIDEBAR_BG_COLOR: white;
$COLOR_SIDEBAR_TEXT: black;

#sidebar{
  @include lg(){
    width: 6vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $SIDEBAR_BG_COLOR;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    z-index: 99;
  }
  @include md(){
    width: 6vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $SIDEBAR_BG_COLOR;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    z-index: 99;
  }
  @include sm(){
    position: relative;
    background-color: transparent;
    left: 5vw;
    margin-top: -1rem;
    display: flex;
    flex-direction: row;
    width: 80%;
  }
  


  .title_prop{
    @include lg(){
      writing-mode: vertical-rl;
    }
    @include md(){
      writing-mode: vertical-rl;
    }
    @include sm(){
      margin-right: 30vw;
    }
    
    text-orientation: mixed;
    font-size: 0.6rem;
    margin: 0.6rem 0;
    color: #858A8B;
  }
  .emoji_container{
    margin-top: 0.3rem;
    margin-bottom: .1rem;
    font-family: $FONT_EN;
    font-weight: 300;
    @include sm(){
      margin: 0 3vw;
    }

    .emoji_prop{
      display: flex;
      justify-content: center;
      font-size: 1.5rem;
    }
    .emoji_text_prop{
      font-size: 0.7rem;
      margin-top: -.2rem;
    }
  }
}