@import './main.scss';
$WORKS_BG_COLOR_1: #D7D2CC;
$WORKS_BG_COLOR_2: #304352;
$WORK_BG: linear-gradient($WORKS_BG_COLOR_1, $WORKS_BG_COLOR_2);


#works{
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: $WORK_BG;

  .works_container{
    width: 100%;
    height: 100vh;


    .project_container{

    }
    .project_container_right{
      @extend .project_container;
    }
    .project_container_left{
      @extend .project_container;
    }
    .project_container_bottom{
      @extend .project_container;
    }

    .project_img_and_name_container{
      .project_img_prop{

      }
      .project_name{

      }
    }



    .description_container{

      .decription_contents_container{
        .description_title_prop{

        }
        .description_contents_container{
          .description_contents_prop{

          }
        }
      }
    }


  }
}