@import './main.scss';
$COLOR_BG_1:#FDFCFB 9.44%;
$COLOR_BG_2:#E2DBC3 92.78%;
$COLOR_BG: linear-gradient(158.84deg, $COLOR_BG_1, $COLOR_BG_2);
$COLOR_PARA_TITLE: #282D2F;
$COLOR_PARA_DESCIPTION: #282D2F;
$COLOR_PARA: #282D2F;

#works_dinasour{
  width: 100vw;
  // height: 420vh;
  display: flex;
  justify-content: flex-end;
  background: $COLOR_BG;
  padding-bottom: 15rem;
  @include sm(){
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 3rem;
  }

  .kv_container{
    width: 94%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .paragraph_1_container{
      width: 75%;
      // height: 50vh;
      margin: 3rem 0;
      @include sm(){
        width: 85%;
      }

      .paragraph_1_title{
        font-family: $FONT_JP;
        font-weight: 300;
        font-size: 1.5rem;
        color: $COLOR_PARA_TITLE;
        margin: 2rem 0;

      }
      .paragraph_1_description_container{

        .paragraph_1_description_prop{
          font-family: $FONT_JP;
          font-weight: 400;
          font-size: 1rem;
          color: $COLOR_PARA_DESCIPTION;
          line-height: 2rem;
          text-align: justify;
          @include sm(){
            @include sm_content_font;
          }
          @include md(){
            @include md_content_font;
          }
          @include lg(){
            @include lg_content_font;
          }

        }
      }
    }

    .all_dinasours_container{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 3rem 0;

      .all_dinasours_prop{
        width: 75%;
        @include sm(){
          width: 100%;
        }
      }
    }


    #design_show_to_reverse{

    }
    .design_intro_container{
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin: 3rem 0;
      @include sm(){
        margin: 0 0;
      }
      
      
      .design_intro_contents_container{
        width: 75%;
        display: flex;
        // flex-direction: row;
        @include sm(){
          flex-direction: column;
          width: 100%;
          justify-content: center;
          align-items: center;
        }
        @include md(){
          flex-direction: column;
        }
        @include lg(){
          flex-direction: row;
        }
        
        .design_intro_img_container{
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          .design_intro_img_content_container{
            display: flex;
              margin: 0 .5rem;
  
            .design_intro_img_prop{
              width: 100%;
              object-fit: cover;
            }
          }
        }
        .design_intro_description_container{
          width: 50%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          margin: 0 3rem;
          @include sm(){
            width: 90%;
            margin: 2rem 2rem;
          }
          @include md(){
            width: 87%;
          }
          @include lg(){
            width: 50%;
          }
          .design_intro_description_title{
            font-family: $FONT_JP;
            font-weight: 400;
            font-size: 1.2rem;
            color: $COLOR_PARA;
            line-height: 2rem;
            margin-bottom: 1rem;
            @include sm(){
              margin-top: 2rem;
            }
          }
  
          .design_intro_description_prop{
            font-family: $FONT_JP;
            font-weight: 400;
            font-size: 1rem;
            color: $COLOR_PARA;
            line-height: 2rem;
            @include sm(){
              @include sm_content_font;
            }
            @include md(){
              @include md_content_font;
            }
            @include lg(){
              @include lg_content_font;
            }
            
            &:nth-child(1){
              font-size: 1rem;
              margin: 1.5rem 0;
              line-height: 2rem;
            }
            
          }
        }
      }
    }

    .postscript_container{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 3rem;
      margin-bottom: 10rem;
      @include sm(){
        margin: 5rem 0;
      }
      
      .postscript_contents_container{
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        background-color: #F2F2F2;
        padding: 2.5rem 4rem;
        box-shadow:-10px 10px 50px -25px rgb(105, 105, 105);
        @include sm(){
          padding: 3rem 2.5rem;
          width: 70%;
        }
        @include md(){
          width: 60%;
        }
        @include lg(){
          width: 40%;
        }

        .postscript_paragraph_container{
          display: flex;
          flex-direction: column;
          
          .postscript_paragraph_title_prop{
            font-family: $FONT_JP;
            font-weight: 700;
            font-size: .75rem;
            color: $COLOR_PARA;
            margin: 1rem 0;
            @include sm(){
              @include sm_content_font;
            }
            @include md(){
              @include md_content_font;
            }
            @include lg(){
              @include lg_content_font;
            }

          }
          .postscript_paragraph_prop{
            font-family: $FONT_JP;
            font-weight: 400;
            font-size: .75rem;
            color: $COLOR_PARA;
            line-height: 1.5rem;
            @include sm(){
              @include sm_content_font;
            }
            @include md(){
              @include md_content_font;
            }
            @include lg(){
              @include lg_content_font;
            }
          }
        }
      }
    }

    
  }
}
