@import './main.scss';
$COLOR_BG_1:#FDFCFB 9.44%;
$COLOR_BG_2:#E2DBC3 92.78%;
$COLOR_BG: linear-gradient(158.84deg, $COLOR_BG_1, $COLOR_BG_2);


#works_sleep{
  width: 100vw;
  padding-bottom: 8rem;
  display: flex;
  justify-content: flex-end;
  background: $COLOR_BG;
  @include sm(){
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 3rem;
  }
  .kv_container{
    width: 94%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .paragraph_1_container{
      width: 65%;
      margin: 2rem 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      @include sm(){
        width: 85%;
      }

      .paragraph_1_title{
        font-family: $FONT_JP;
        font-weight: 400;
        font-size: 1.5rem;
        color: $COLOR_BLACK;
        margin: 2rem 0;

      }
      .paragraph_1_description_container{

        .paragraph_1_description_prop{
          font-family: $FONT_JP;
          font-weight: 400;
          font-size: .85rem;
          color: $COLOR_BLACK;
          line-height: 2rem;

        }
      }
    }

    .reason_container{
      width: 65%;
      display: flex;
      justify-content: center;
      align-items: center;
      @include sm(){
        width: 80%;
      }

      .reason_contents_container{
        width: 100%;
        padding: 3rem 2rem;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background: url('../static/img/works/bg_reason_contents_container.png');
        background-size: cover;
        @include sm(){
          flex-direction: column;
        }

        .reason_contents_each_container{
          display: flex;
          flex-direction: column;
          @include sm(){
            margin: 1rem 0;
          }

          .reason_title_prop{
            font-family: $FONT_JP;
            font-weight: 400;
            font-size: 1rem;
            color: $COLOR_BLACK;
            margin: 1rem 0;

          }
          .reason_description_container{

            .reason_description_prop{
              font-family: $FONT_JP;
              font-weight: 400;
              font-size: .75rem;
              color: $COLOR_BLACK;
              line-height: 1.5rem;

            }
          }
        }
      }
    }

    .app_show_container{
      width: 65%;
      margin: 2rem 0;
      @include sm(){
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
      .show_container{
        width: 100%;
        display: flex;
        flex-direction: row;
        margin: 4rem 0;
        @include sm(){
          justify-content: center;
          align-items: center;
          margin: 1rem 0;
        }
  
        .show_contents_container{
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          @include sm(){
            flex-direction: column;
          }
  
          .show_img_container{
            width: 50%;
            display: flex;
            flex-direction: row;
            margin-right: 1.5rem;
            @include sm(){
              width: 100%;
              margin: 0 0;
              justify-content: center;
              align-items: center;
            }
          
            .show_img_prop{
              width: 50%;
              &:nth-child(1){
                margin-right: 1rem;
                @include sm(){
                  margin: 0 .5rem;
                }
              }
              &:nth-child(2){
                margin-right: 1rem;
                @include sm(){
                  margin: 0 .5rem;
                }
              }
  
            }
          }
          .show_description_container{
            width: 50%;
            margin-left: 1.5rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            line-height: 1.8rem;
            @include sm(){
              margin: 1rem 0;
              width: 80%;
            }
  
            .show_description_title_prop{
              font-family: $FONT_JP;
              font-weight: 400;
              font-size: 1rem;
              color: $COLOR_BLACK;
              margin: 1rem 0;
            }
            .show_description_contents_container{
              margin: 1rem 0;
  
              .show_description_contents_prop{
                font-family: $FONT_JP;
                font-weight: 400;
                font-size: .85rem;
                color: $COLOR_BLACK;
  
              }
            }
          }
        }
      }
    }

    .prototype_container{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      .prototype_contents_container{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .prototype_title_prop{
          width: 80vw;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 1.2rem;
          @include sm(){
            margin-bottom: 2rem;
          }

        }
        .prototype_prop{
          width: 80vw;
          height: 80vh;
        }
      }
    }
    
    
    .postscript_container{
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 5rem 0;
      @include sm(){
        margin: 5rem 0;
      }
      
      .postscript_contents_container{
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        background-color: #F2F2F2;
        padding: 2.5rem 4rem;
        box-shadow:-10px 10px 50px -25px rgb(105, 105, 105);
        @include sm(){
          padding: 3rem 2.5rem;
          width: 70%;
        }

        .postscript_paragraph_container{
          display: flex;
          flex-direction: column;
          
          .postscript_paragraph_title_prop{
            font-family: $FONT_JP;
            font-weight: 700;
            font-size: .75rem;
            color: $COLOR_BLACK;
            margin: 1rem 0;

          }
          .postscript_paragraph_prop{
            font-family: $FONT_JP;
            font-weight: 400;
            font-size: .75rem;
            color: $COLOR_BLACK;
            line-height: 1.5rem;


          }
        }
      }
    }

    .especially_thanks_container{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      .especially_thanks_contents_container{
        width: calc(40% + 8rem);
        margin: 2rem 0;

        .especially_thanks_title_prop{
          color: $COLOR_BLACK;
          font-family: $FONT_EN;
          font-weight: 400;
          font-size: 1rem;
          margin: 2rem 0;
        }
        .especially_thanks_description_prop{
          color: $COLOR_GRAY;
          font-family: $FONT_EN;
          font-weight: 400;
          font-size: .7rem;
          line-height: 1.2rem;
          &:nth-child(1){
            font-weight: 600;
          }
        }
      }
    }

  }
}
