@import './main.scss';
$WORKS_BG_COLOR_1: #D7D2CC;
$WORKS_BG_COLOR_2: #304352;
$WORK_BG: linear-gradient(135deg, $WORKS_BG_COLOR_1, $WORKS_BG_COLOR_2);
$COLOR_PROJ_NAME: white;
$COLOR_PROJ_DESCRIP: #DBDFE0;


#works{
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: $WORK_BG;
  padding: 9rem 0;

  .declaration_container{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 2rem 0;
    @include sm(){
      justify-content: center;
    }
    .declaration_contents_container{
      width: 94%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      @include sm(){
        width: 87%;
      }

      .text_prop{
        text-align: center;
        font-family: $FONT_JP;
        font-weight: 400;
        font-size: 1rem;
        color: white;
        line-height: 1.5rem;
        letter-spacing: .1rem;

      }
    }
  }

  .works_container{
    width: 100%;
    // height: 100vh;
    display: flex;
    justify-content: flex-end;

    .works_contents_container{
      width: 94%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      @include sm(){
        width: 100%;
      }

      .project_container{
        width: 75%;
        margin-top: 3rem;
        display: flex;
        margin: 3rem 0;
        @include sm(){
          width: 100%;
          flex-direction: column !important;
          justify-content: center;
          align-items: center;
        }
        @include md(){
          width: 100%;
          flex-direction: column !important;
          justify-content: center;
          align-items: center;
        }
        @include lg(){
          width: 75%;
          justify-content: unset;
          align-items: unset;
        }

      }
      .project_container_right{
        @extend .project_container;
        flex-direction: row;
        margin-left: 10vw;
        @include sm(){
          margin-left: 0;
        }
        @include md(){
          margin-left: 0;
        }
        @include lg(){
          margin-left: 10vw;
          flex-direction: row !important;
        }
      }
      .project_container_left{
        @extend .project_container;
        flex-direction: row-reverse;
        margin-right: 10vw;
        @include sm(){
          margin-right: 0;
        }
        @include md(){
          margin-right: 0;
        }
        @include lg(){
          flex-direction: row-reverse !important;
          margin-right: 10vw;
        }
      }
      .project_container_bottom{
        @extend .project_container;
        flex-direction: column;
        align-items: center;
      }
  
      .project_img_and_name_container{
        margin: 0 2rem;
        @include sm(){
          margin: 0 0;
        }
        .project_img_container_prop{
          box-shadow:-10px 10px 50px -25px rgb(105, 105, 105);
          object-fit: cover;
          transition: all .2s ease-in-out;
          overflow: hidden;
          display: flex;

          @include sm(){
            transform: scale(.9);
          }

          .project_img_prop{
            transition: all .3s ease-in !important;
            z-index: 5;
            object-fit: cover;
            &:hover{
              transition: all .3s ease-in !important;
              opacity: .5;
              transform: scale(1.05);
            }
          }
          .bg_white{
            position: absolute;
            display: flex;
            background-color: white;
            z-index: 3;
          }
        }

        .project_name{
          text-align: center;
          font-family: $FONT_EN;
          font-weight: 400;
          font-size: 1.2rem;
          color: $COLOR_PROJ_NAME;
          margin-top: 1.5rem;
  
        }
      }
  
  
  
      .description_container{
        // height: 18.29rem; //same as the img height
        opacity: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        @include sm(){
          opacity: 1;
          width: 50%;
          height: unset !important;
          margin: 1rem 0;
        }
        @include md(){
          opacity: 1;
          width: 50%;
          height: unset !important;
          margin: 1rem 0;
        }
        @include lg(){
          opacity: 0;
          width: unset;
          height: unset;
          margin: unset;
        }
  
        .decription_contents_container{
          margin: 0.5rem 0;
          .description_title_prop{
            font-family: $FONT_EN;
            font-weight: 600;
            font-size: .75rem;
            color: $COLOR_PROJ_DESCRIP;
            margin: .3rem 0;
  
          }
          .description_contents_container{
            .description_contents_prop{
              font-family: $FONT_EN;
              font-weight: 400;
              font-size: .75rem;
              color: $COLOR_PROJ_DESCRIP;
  
            }
          }
        }
      }
    }

    


  }
}