@import './main.scss';
$COLOR_BG_1:#FDFCFB 9.44%;
$COLOR_BG_2:#E2DBC3 92.78%;
$COLOR_BG: linear-gradient(158.84deg, $COLOR_BG_1, $COLOR_BG_2);


#works_organ{
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  background: $COLOR_BG;
  @include sm(){
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 3rem;
  }
  @include md(){
    padding-bottom: 10rem;
  }
  @include lg(){
    padding-bottom: 12rem;
  }

  .kv_container{
    width: 94%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .paragraph_1_container{
      width: 75%;
      margin: 2rem 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      @include sm(){
        width: 85%;
      }

      .paragraph_1_title{
        font-family: $FONT_JP;
        font-weight: 400;
        font-size: 1.5rem;
        color: $COLOR_BLACK;
        margin: 2rem 0;

      }
      .paragraph_1_description_container{

        .paragraph_1_description_prop{
          font-family: $FONT_JP;
          font-weight: 400;
          font-size: .85rem;
          color: $COLOR_BLACK;
          line-height: 2rem;
          @include sm(){
            @include sm_content_font;
          }
          @include md(){
            @include md_content_font;
          }
          @include lg(){
            @include lg_content_font;
          }

        }
      }
    }

    .middleImg{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 1rem 0;
      
      .pieces_prop{
        width: 80%;
        @include sm(){
          width: 100%;
        }
      }


    }
    
    .photo_container{
     width: 100%; 
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;

      .photo_description_container{
        width: 80%;
        margin-top: 3rem;
        @include sm(){
          width: 100%;
        }
        &:nth-child(2){
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          align-items: flex-end;
        }

        .photo_prop{
          width: 70%;
          @include sm(){
            width: 100%;
          }
        }
        .description_prop{
          width: 70%;
          line-height: 1.5rem;
          margin: 1.5rem 0;
          font-family: $FONT_JP;
          font-weight: 400;
          font-size: .75rem;
          color: $COLOR_BLACK;
          @include sm(){
            width: 100%;
            font-size: 1rem;
            line-height: 2rem;
            @include sm_content_font;
          }
          @include md(){
            @include md_content_font;
          }
          @include lg(){
            @include lg_content_font;
          }

        }
      }
    }

    .postscript_container{
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 3rem 0;
      @include sm(){
        margin: 5rem 0;
      }
      
      .postscript_contents_container{
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        background-color: #F2F2F2;
        padding: 2.5rem 4rem;
        box-shadow:-10px 10px 50px -25px rgb(105, 105, 105);
        @include sm(){
          padding: 3rem 2.5rem;
          width: 70%;
        }
        @include md(){
          width: 80%;
        }

        .postscript_paragraph_container{
          display: flex;
          flex-direction: column;
          
          .postscript_paragraph_title_prop{
            font-family: $FONT_JP;
            font-weight: 700;
            font-size: .75rem;
            color: $COLOR_BLACK;
            margin: 1rem 0;
            @include sm(){
              @include sm_content_font;
            }
            @include md(){
              @include md_content_font;
            }
            @include lg(){
              @include lg_content_font;
            }

          }
          .postscript_paragraph_prop{
            font-family: $FONT_JP;
            font-weight: 400;
            font-size: .75rem;
            color: $COLOR_BLACK;
            line-height: 1.5rem;
            @include sm(){
              @include sm_content_font;
            }
            @include md(){
              @include md_content_font;
            }
            @include lg(){
              @include lg_content_font;
            }


          }
        }
      }
    }

    .especially_thanks_container{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      .especially_thanks_contents_container{
        width: calc(75% + 5rem);
        margin: 2rem 0;
        @include md(){
          width: calc(80% + 8rem);
        }

        .especially_thanks_title_prop{
          color: $COLOR_BLACK;
          font-family: $FONT_EN;
          font-weight: 400;
          font-size: 1rem;
          margin: 2rem 0;
        }
        .especially_thanks_description_prop{
          color: $COLOR_GRAY;
          font-family: $FONT_EN;
          font-weight: 400;
          font-size: .7rem;
          line-height: 1.2rem;
          &:nth-child(1){
            font-weight: 600;
          }
        }
      }
    }
  }
}
